
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-3 sidenav">
       <div >
          <img ng-click="vm.goProfile(vm.Lesson.UserName.id)" class="lessonProf" src="{{vm.Lesson.UserName.picture}}" />
          <p></p>
          <p>Taught by: <a ng-click="vm.goProfile(vm.Lesson.UserName.id)">{{vm.Lesson.UserName.name}}</a></p>
      </div>
      <div class="well">
          <button ng-click="vm.goLesson(vm.id)">Go to Lesson</button>
          <button ng-click="vm.goClassroom(vm.id)">Go to Classroom</button>
      </div>
      <h5>Suggestions for you...</h5>
      <p ng-repeat="item in vm.relLessons|limitTo:3">
        <a ng-click="vm.goLesson(item.id)">{{item.name}}</a>
      </p>
    </div>
    <div class="col-sm-8 text-left" style="padding-left: 50px;">
      <h1>{{vm.Lesson.name}}</h1>
      <h5>Private Video Chat Room</h5>
      <hr>
      <pubnub-stream></pubnub-stream>
      <hr>
    </div>
  </div>
</div>