<h1>Requests Page!</h1>
<br>

<!--Need to add function for submitting-->
<form ng-submit="vm.addRequest()">
  Requested By: <input type="" name="" ng-model="vm.userName">
  Requested Lesson: <input type="" name="" ng-model="vm.requestName">
  Category: <input type="" name="" ng-model="vm.categoryName">
  <button type="submit">Submit Request</button>
</form>

<br>

<ul ng-repeat="request in vm.requests.data">
  <li>Request Name: {{request.name}}</li>
  <li>User Requesting: {{request.UserId}}</li>
  <li>Requested Category: {{request.CategoryId}}</li>
</ul>
