<h1>Requests Page!</h1>

<br>

<form ng-submit="vm.addRequest()">
  <label>Requested Lesson:</label> <input type="" name="" ng-model="vm.requestName">
  <label>Category:</label> <input type="" name="" ng-model="vm.categoryName">
  <button type="submit">Submit Request</button>
</form>

<br>

  <div class="lessonTbl">
      <table datatable="ng" class="table table-hover">
        <thead>
          <tr>
            <th>Date Requested</th>
            <th>Requested Lesson</th>
            <!--<th>Upvotes</th>-->
            <th>Category</th>
            <th>User Requesting</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in vm.requests">
            <td>{{request.createdAt | date: "MM.dd.y"}}</td>
            <td>{{request.name}}</td>
            <!--<td>{{request.upvote}}</td>-->
            <td>{{request.categoryName}}</td>
            <td>{{request.userName}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>