body {
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  overflow: scroll;
}

h1{
  font-size: 2em;
  font-weight: bold;
}

.lessonTbl{
    font-weight: 550;
}

.jumbotron {
  text-align: center;
  -webkit-box-shadow: 10px 6px 32px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 6px 32px 8px rgba(0,0,0,0.75);
  box-shadow: 10px 6px 32px 8px rgba(0,0,0,0.75);
  font-family: 'Courgette', cursive;
}
 /*Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
    width: 1350px;
}

.chat-text {
  font-size: 0.8em;
}

/*.row.content {height: 100%}*/

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;}
}

.lessonProf{
    max-height: 150px;
    max-width: 150px;
}

button{
  font-size: 0.8em !important;
  margin-top: 5px;
}

img {
    max-width: 500px;
    max-height: 500px;
    width: 150%;
    height: 150%;
}

footer {
     background-color: #555;
     color: white;
     padding: 15px;
     margin-top: 30px;
}

#chat {
  width: 100%;
  height: 400px;
  overflow: auto;
}

#chatwell {
  margin: 1px;
}

#bottom {
  display: block;
}

.classroomCols {
    margin-left: 2px;
}

assContainer {
    width: 100%;
}

/*Custom CSS*/
/*.chatbox {
    float: right;
}*/