<div class="container">
  <div>

    <div>
        <div class="lessonProf">
         <img src="{{vm.picture}}" class="img-thumbnail"/>
        </div>
        <!--the editable text and e-form fields are part of-->
        <!--Angular xEditable. Refer to their docs for info-->
        <!--https://vitalets.github.io/angular-xeditable/-->
        <h1 editable-text="vm.profile.name" e-form="textBtnForm" 
        ng-hide="textBtnForm.$visible">
          {{vm.profile.name}}
          <button ng-if="vm.myProfile" ng-click="textBtnForm.$show()"
            ng-hide="textBtnForm.$visible">edit</button>
        </h1>
        <h2 editable-text="vm.title" e-form="textBtnForm1" ng-hide="textBtnForm1.$visible">
          {{vm.title}}
          <button ng-if="vm.myProfile" ng-click="textBtnForm1.$show()"
            ng-hide="textBtnForm1.$visible">edit</button>
        </h2>
    </div>

    <div class="profile-bio" editable-textarea="vm.blurb" 
    e-form="textBtnForm2" e-rows="7" e-cols="40" ng-hide="textBtnForm2.$visible">
        <pre>{{vm.blurb}}
          <button ng-if="vm.myProfile" ng-click="textBtnForm2.$show()"
            ng-hide="textBtnForm2.$visible">edit</button>
        </pre>
    </div>
  </div>

  <div class="lessonTbl" ng-show="vm.profile.teachFlag">
    <table datatable="ng" class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lesson in vm.allLessons">
            <td ng-click="vm.goLesson(lesson.id)">{{lesson.name}}</td>
            <td ng-click="vm.goLesson(lesson.id)">{{lesson.CategoryName.name}}</td>
            <td ng-click="vm.goLesson(lesson.id)">{{lesson.rating}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>