<div class="container">
  <div>

    <header>
        <img src="{{vm.picture}}" />
        <h1>{{vm.profile.name}}</h1>
        <h2 editable-text="vm.title" e-form="textBtnForm" ng-hide="textBtnForm.$visible">
          {{vm.title}}
          <button ng-if="vm.myProfile" ng-click="textBtnForm.$show()"
            ng-hide="textBtnForm.$visible">edit</button>
        </h2>
    </header>

    <div class="profile-bio" editable-textarea="vm.blurb" 
    e-form="textBtnForm2" e-rows="7" e-cols="40" ng-hide="textBtnForm2.$visible">
        <pre>{{vm.blurb}}
          <button ng-if="vm.myProfile" ng-click="textBtnForm2.$show()"
            ng-hide="textBtnForm2.$visible">edit</button>
        </pre>
    </div>
  </div>

  <div class="lessonTbl" ng-show="vm.profile.teachFlag">
      <table class="table table-bordered">
        <tr>
          <td id="caption" colspan="4"></td>
        </tr>
        <th>
          <td>Name</td>
          <td>Category</td>
          <td>Rating</td>
        </th>
        <tr ng-repeat="lesson in vm.lessons">
          <td></td>
          <td>{{lesson.name}}</td>
          <td>{{lesson.category}}</td>
          <td>{{lesson.rating}}</td>
        </tr>
    </table>
  </div>
</div>