<div class="container">
  <div class="jumbotron vertical-center">
    <h3>Welcome back {{vm.teacherName}}!</h3>
  </div>

  <div>
    <div class="addLesson">
      <form name="lessonForm" ng-submit="vm.submitForm(lessonForm.$valid)" novalidate>
          <label>Create a new lesson:</label>
          <!-- NAME -->
          <div class="form-group" ng-class="{ 'has-error' : lessonForm.name.$invalid && !lessonForm.name.$pristine }">
              <label> Lesson Name*</label>
              <input type="text" name="name" class="form-control" ng-model="vm.lesson.name" required>
              <p ng-show="lessonForm.name.$invalid && !lessonForm.name.$pristine" class="help-block">Lesson name is required.</p>
          </div>
          
          <!-- Category -->
          <div class="form-group" ng-class="{ 'has-error' : lessonForm.category.$invalid && !lessonForm.category.$pristine }">
              <label>Category</label>
              <input type="text" name="category" class="form-control" ng-model="vm.lesson.category" ng-minlength="3" required>
              <p ng-show="lessonForm.category.$error.minlength" class="help-block">category is too short.</p>
          </div>

          <!-- Details -->
          <div class="form-group" ng-class="{ 'has-error' : lessonForm.details.$invalid && !lessonForm.details.$pristine }">
              <label>Details</label>
              <input type="text" name="details" class="form-control" ng-model="vm.lesson.details" ng-minlength="3" required>
              <p ng-show="lessonForm.details.$error.minlength" class="help-block">details is too short.</p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="lessonTbl">
      <table datatable="ng" class="table table-hover">
        <thead>
          <tr>
            <th>Lesson id</th>
            <th>Name</th>
            <th>Details</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lesson in vm.teacher.Lessons">
            <td>{{lesson.id}}</td>
            <td ng-click="vm.goLesson(lesson.id)">{{lesson.name}}</td>
            <td ng-click="vm.goLesson(lesson.id)">{{lesson.details}}</td>
            <td ng-click="vm.goLesson(lesson.id)">{{lesson.rating}}</td>
          </tr>
        </tbody>
    </table>
  </div>

</div>