<ul class="nav navbar-nav">
    <li><a ui-sref="splash">Home</a></li>
    <li><a ui-sref="request">Requests</a></li>
    <li ng-show="vm.authService.showCurrent()"><a href="" ng-click="vm.goProf()">Profile</a></li>
    <li ng-show="vm.authService.showCurrent() && vm.isTeach">
      <a href="" ng-click="vm.goDash()">Instructor Dashboard</a>
    </li>
    <li ng-show="vm.authService.showCurrent() && !vm.isTeach">
      <a href="" ng-click="vm.becomeTeacher()">Become an Instructor!</a>
    </li>
    <li ng-show="vm.authService.showCurrent()">
      <button class="btn btn-info" href="" ng-click="vm.authService.logout()">Log Out</a>
    </li>
    <li ng-show="!vm.authService.showCurrent()">
      <button class="btn btn-info" href="" ng-click="vm.authService.login()">Log In/Register</a>
    </li>
</ul>